* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


h1 {
    font-size: 3rem;
    padding: 10px;
    word-spacing: 10px;
    background-color: goldenrod;
    flex-wrap: wrap;
    
}

.container {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.btn-group {
    width: 100%;
    margin: 10px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.btn {
    padding: 5px 10px;
    align-content: center;
    cursor: pointer;
    background-color: rgb(129, 23, 23);
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 1.5px 1.5px black;
}

.btn:hover {
    background-color: brown;
}

.btn:active {
    box-shadow: none;
}

table {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-collapse: collapse;
}

table  th, table  td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

@media  (max-width: 600px) {
    .btn-group {
        flex-direction: column;
    }
    .btn {
        width: 100%;
        margin: 5px auto;
    }
    .container {
        margin: 5px 10px;
    }
    h1 {
        padding: 7.5px;
        font-size: 2rem;
    }
    table {
        padding: 3px;
        font-size: 0.9rem;
    }
}